@import '~@angular/material/core/theming/all-theme';

@include mat-core();

$primary: mat-palette($mat-cyan);
$accent: mat-palette($mat-amber);

$theme: mat-light-theme($primary,$accent);

@include angular-material-theme($theme);

.dark-theme {
    $dark-p: mat-palette($mat-pink,700);
    $dark-a: mat-palette($mat-blue-grey);

    $dark-t: mat-dark-theme($dark-p, $dark-a);
    @include angular-material-theme($dark-t);
}